{
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": true,
	"printWidth": 150,
	"trailingComma": "es5",
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		},
	]
}
